.MovieCard {
    display: flex;
    justify-content: center;
}

.mainInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    width: 100%;
}

.img_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: "Malayalam MN", sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Malayalam MN", sans-serif;
}

.movieInfo {
    width: 100%;
    font-family: "Malayalam MN", sans-serif;
}