.movies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.input_style {
    display: flex;
    justify-content: center;
    align-items: center;
}