.MoviesModule {
    display: flex;
    flex-direction: column;
}


.movies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.buttons_block {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons {
    background-color: deepskyblue;
    color: snow;
    border: 1px solid deepskyblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.buttons:hover {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.buttons:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

