.button {
    background-color: deepskyblue;
    color: snow;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: cornflowerblue;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}